@{
    ViewData["Title"] = "LAMS My Orders";
}

@model LicenseAssetManager.ViewModels.OrdersListViewModel

<div>
    @if(Model.Product != null)
    {
        <h4>Product = @Model.Product.Name</h4> <br/>
    }
    
</div>
