@inherits LayoutComponentBase

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand ml-2">
                    LAMs Administration
                </span>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/account/logout">
                    Log Out
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/products" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-home" aria-hidden="true"></span> Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/orders" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-plus" aria-hidden="true"></span> Orders
                    </NavLink>
                </div>
            </nav>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>

