@{
    ViewData["Title"] = "LAMS Home Page";
}

@model LicenseAssetManager.ViewModels.ProductsListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the License Asset Manager Store</h1>
    <h2 class="display-8">Developed by Colby King and John Williams</h2>
    <h2 class="display-8">CS 5320 - Team 10</h2>
    <h2 class="display-8">Instructor - Dr. Armin Moin</h2>
    <h2 class="display-8">TA - Aryan Padiyal</h2>
    <h2 class="display-8">Fall 2024</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach (var p in Model.Products ?? Enumerable.Empty<Product>()) {
        <partial name="ProductSummary" model="p"/>
    }

    <div page-model="@Model.PagingInfo" page-action="Index"
        page-classes-enabled="true" page-class="btn"
        page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary"
        page-url-category="@Model.CurrentCategory!"
        class="btn-group pull-right m-1">
    </div>
</div>
